# Build
build/
debug/
release/
cmake-build-*/

# C / C++
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Qt
.qmake.stash
*.pro.user
*.pro.user.*
moc_*
ui_*.h
qrc_*.cpp

# IDEs
.vscode/
.idea/
.vs/

# Visual Studio
*.suo
*.user
*.VC.db
*.VC.VC.opendb

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
*.log
*~